/*清除默认样式*/
body,ul,li,h2,dl,dt,dd{margin: 0;padding: 0;}
ul,ol{list-style:none;}
a{text-decoration: none;}
h2{font-size:100%;}
body{
	color: #000;
    font-family: "Microsoft Yahei", "微软雅黑";
    
}

/*通用样式*/
.fl{float: left;}
.fr{float: right;}
.clearfix {
  overflow: hidden;
  zoom: 1;
}/*清理浮动*/

/*————————————————————导航————————————————————*/

.topnav{
	height: 28px;
    background-color: #525357;
}
.topnav .topsubnav{
	width: 1200px;
	margin: 0 auto;
}
.topnav .topsubnav a{
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	color: #999999;
    font-weight: normal;
    width: 71.5px;
    padding: 0 10px;
    display: inline-block;
}
nav{
	height: 130px;
	background: url(../img/jjfaImg/4959401_55b.jpg);
	background-position: 50% 50%;
}
nav .subnav{
	width: 1200px;
	margin: 0 auto;
}
nav .subnav .subnav_left{
	width: 280px;
	line-height: 130px;
}
nav .subnav .subnav_left span{
	color: #fff;
    font-size: 24px;
    padding-left: 60px;
}
nav .subnav .subnav_right{
	width: 920px;
	line-height: 130px;
	text-align: right;
}

nav .subnav .subnav_right a{
	color: #fff;
	font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    width: 190px;
    display: inline-block;
    text-align: center;
    font-style: normal;
    word-break: break-all;
    word-wrap: break-word;
}


/*————————————————————内容————————————————————*/
.main{
	width: 1200px;
	height: 476px;
	margin: 0 auto;
	text-align: center;
	line-height: 476px;
}
.main a{
	display:inline-block;
	width: 250px;
	height: 250px;
	vertical-align: middle;
	color: #ffffff;
    font-size: 19px;
}
.main a span{
	display: inline-block;
	height: 30px;
	width: 250px;
	line-height: 30px;
	background: rgba(250,250,250,0.4);
}
.main a:nth-of-type(1){
	background: url("../img/jjfaImg/4960708_智能照明.png");
}
.main a:nth-of-type(2){
	margin: 0 106px;
	background: url("../img/jjfaImg/4960681_智能家居.png");
}
.main a:nth-of-type(3){
	background: url("../img/jjfaImg/4960683_智慧工业.png");
}
/*————————————————————页脚————————————————————*/
.footer{
	width: 1414px;
	height: 300px;
	margin: 4px auto;
	background: rgb(235,235,235);
}
.footer dl{
	display: inline-block;
	width: 267px;
	margin-top: 34px;
	vertical-align: top;
	padding-left: 50px;
}
.footer dl:nth-child(1){
	margin-left: 120px;
	background: url("../img/syImg/4121130_关注我们.png") no-repeat;
}
.footer dl:nth-child(2){
	background: url("../img/syImg/4121138_下载中心.png") no-repeat;
}
.footer dl:nth-child(3){
	background: url("../img/syImg/4121133_人才招聘.png") no-repeat;
}
.footer dl:nth-child(4){
	background: url("../img/syImg/4121167_电话图标.png") no-repeat;
}
.footer dl dt{
	line-height: 30px;
	font-size: 18px;
    color: #015c6f;
}
.footer dl span{
	display: block;
	font-size: 12px;
	color: #8c8c8c;
	line-height: 18px;
	margin: 10px 0 7px 0;
}
.footer dl dd{
	line-height: 33.75px;
	padding-left: 10px;
}
.footer dl:nth-child(4) dd{
	font-size: 24px;
	padding-left: 0;
}
.footer dl dd a{
	color: #444;
}
.footer .wx{
	padding-left: 38px;
	background: url("../img/syImg/4121137_微信.png") no-repeat left bottom;
}
.footer .wb{
	padding-left: 38px;
	background: url("../img/syImg/4121136_微博.png") no-repeat left bottom;
}
.footer .tb{
	padding-left: 38px;
	background: url("../img/syImg/4121134_淘宝.png") no-repeat left bottom;
}
.footer .albb{
	padding-left: 38px;
	background: url("../img/syImg/4121168_阿里巴巴.png") no-repeat left bottom;
}


.connection{
	width: 735.625px;
	text-align: center;
	display:block;
	font-size: 12px;
	color: #3e3e3e;
	cursor: default;
	margin: 0 auto;
	line-height: 18px;
	margin-top: 18px;
}
.copyright{
	width: 448.125px;
	text-align: center;
	display:block;
	font-size: 12px;
	line-height: 18px;
	color: #3e3e3e;
	cursor: default;
	margin: 0 auto;
}
.poweredby{
	width: 430px;
	margin: 0 auto;
	margin-top: 8px; 
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}
.poweredby a{
	    color: #666;
}
